<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <style> 
    ::-webkit-scrollbar{
        width: 6px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track{
        background: none;
    }
    ::-webkit-scrollbar-thumb { 
        background: rgb(34 34 34 / 65%);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover { 
        background: rgb(34 34 34 / 85%);
    }
  </style>  
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

  <!--{%- include head.html -%}-->

  <body>

    <!--{%- include header.html -%}-->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>